/problematicas/ejercicio1/ejercicio01/nbproject/private/
/problematicas/ejercicio1/ejercicio01/build/
/problematicas/ejercicio2/ejercicio02/nbproject/private/
/problematicas/ejercicio2/ejercicio02/build/
/problematicas/ejercicio3/ejercicio03/nbproject/private/
/problematicas/ejercicio3/ejercicio03/build/
